<!DOCTYPE html>
<html>
<head>
  <title>Hwacha</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="no-touch">
  <div class="metro">
    <nav class="navigation-bar dark">
        <nav class="navigation-bar-content">
            <item class="element">Hwacha Beta</item>
          <% if current_user %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'element place-right' %>
          <% else %>
            <%= link_to "Sign in", user_omniauth_authorize_path(:facebook), class: 'element place-right' %>
          <% end %>
            <span class="element-divider place-right"></span>
          <% if current_user %>
            <button class="element image-button image-left place-right">
                <%= current_user.name %>
                <%= image_tag current_user.image %>
            </button>
          <% end %>
        </nav>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
