<!DOCTYPE html>
<html>
<head>
  <title>Hwacha</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="no-touch">
  <div class="metro">
    <nav class="navigation-bar dark">
        <nav class="navigation-bar-content">
            <item class="element">Hwacha Beta</item>
            <a class="element place-right" href="#">Log out</a>
            <span class="element-divider place-right"></span>
            <button class="element image-button image-left place-right">
                김민혁
                <%= image_tag "me.jpg" %>
            </button>
        </nav>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
